<h2>Template driven forms</h2>

<h4>Caso de uso real: formulario de registro basico</h4>

<p>se requiere un formulario de registro que contenga nombre, email, password,
boton de registrar, deshabilitar y tambien validar la contrasena, finalmente mostrar un mensaje
alterminar de enviar el formulario</p>

<form #f="ngForm" (ngSubmit)="registrar()">
  <input  type="text" name="nombre" [(ngModel)]="registro.nombre" required placeholder="Ingrese nombre" />
  <input  type="email" name="email" [(ngModel)]="registro.email" required placeholder="Ingrese email" />
  <input   name="password" type="password" [(ngModel)]="registro.password" required minlength="6" placeholder="Contrasena" />

  <button type="submit" [disabled]="f.invalid">Registrarse</button>
</form>
<!-- <p>formulario enviado? {{formularioEnviado}}</p> -->
 <p *ngIf="mensaje_form">{{ mensaje_form}}</p>



<hr>

<p>ejercicio: Mostrar resumen de datos ingresados: nombre / email</p>

<input type="text" [(ngModel)]="nombre_ejercicio01" required="required" placeholder="Escriba el nombre..."  /> <br/>
<input type="email"  [(ngModel)]="email_ejercicio01" required="required" placeholder="Escriba el email..."  />

<h4>Datos ingresados:</h4>
<p>nombre: {{nombre_ejercicio01 }}</p>
<p>email: {{email_ejercicio01 }}</p>










<hr>

<p>Formulario simple de contacto</p>

<!-- - nombre
- email
- mensaje -->
<input type="text" [(ngModel)]="contacto.nombre" placeholder="Nombre"> <br />
<input type="text" [(ngModel)]="contacto.email" placeholder="Email"> <br />
<textarea type="text" [(ngModel)]="contacto.mensaje" placeholder="Mensaje"></textarea> <br />
<p>
  Nombre: {{contacto.nombre}} <br />
  Email: {{contacto.email}} <br />
  Mensaje: {{contacto.mensaje}} <br />
</p>

<hr>

<select [(ngModel)]="pais" title="Selecciona un país">
  <option value="">Selecciona un pais</option>
  <option value="PE">Perú</option>
  <option value="MX">Mexico</option>
  <option value="CO">Colombia</option>
</select>
<p>País seleccionado: {{ pais }}</p>

<hr>

<label>
  <input type="radio" [(ngModel)]="genero" value="M" /> Masculino
</label>
<label>
  <input type="radio" [(ngModel)]="genero" value="F" /> Femenino
</label>
<p>Valor seleccionado de Genero es: {{ genero  }}</p>

<hr>
<input [(ngModel)]="nombre" placeholder="escribe tu nombre" />
<p>Hola, {{ nombre  }}</p>

<input [(ngModel)]="edad" placeholder="escribe tu edad" />
<p>Hola, mi edad es -> {{ edad  }}</p>

<input type="checkbox" [(ngModel)]="suscrito" />
<p *ngIf="suscrito">Gracias por suscribirte</p>

